/* global style settings */

@import url("https://use.typekit.net/hwf0dil.css");

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: "proxima-nova",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Form styles */

.formContainer {
  text-align: center;
  margin: 120px 0;
  width: 340px;
}

.formContainer h1 {
  font-size: 2.6rem;
  text-transform: uppercase;
  letter-spacing: .2rem;
  margin: 30px 0;
  color: white;
}

.formContainer form {
  margin: 20px 0;
  border: 3px solid #00bc98;
  border-radius: 10px;
  padding: 5% 8%;
  display: flex;
  flex-direction: column;
  align-items: space-around;
  justify-content: center;
  background: #eeeeeedd;
}

.formContainer form > * {
  margin-bottom: 30px;
}

.formContainer form textarea {
  resize: none;
}

.formContainer form textarea,
.formContainer form input {
  width: 85%;
  margin: 2% auto;
  padding: 0 5%;
  font-family: inherit;
  font-size: 1.6rem;
  border: none;
  border-bottom: 1px solid #00a0ba;
  background: none;
}

.formContainer form select {
  width: 80%;
  margin: 20px auto 30px auto;
}

.formContainer form button {
  background: #ec8b76;
  font-family: inherit;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: .15rem;
  width: auto;
  margin: 15px 40px 0 40px;
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 2% 4%;
  color: white;
  text-transform: uppercase;
}

.formContainer form button.confirmButton {
  background: #00bc98;
}

.formContainer form button:hover {
  color: #ec8b76;
  background: white;
  border: 1px solid #ec8b76;
  cursor: pointer;
}

.editForm {
  margin-top: 25px;
}
.editForm h1 {
  transform: translateY(70px);
}