/* global style settings */

@import url("https://use.typekit.net/hwf0dil.css");

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: "proxima-nova",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
<<<<<<< HEAD
}
=======
}

>>>>>>> a92c8e45688f7bf4612ba494be44ffa16d89edf6
